
@media (max-width: 1200px) {
    .container {
        // max-width: 1140px;
        width: 100%;
        
    }

    .carousel {
        .slick-dots {
            display: none;
        }
    }

    .header {
        font-size: 30px;
        line-height: 30px;
        
        &__phone {
            font-size: 15px;
        };
    };

    .promo {
        &__header {
            font-size: 25px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 15px;
            line-height: 20px;
        };
        &__wrapper {
            min-height: 400px;
            // align-items: center;
        };
    }
    .button {
        &_main {
            width: 180px;
        } 
    }
    
};  
    

    
    


    @media (max-width: 992px) {
        .container {
            // max-width: 960px;
            //width: 100%; 
        }

        .advantages {
            width: 100%;
            &__item {
                width: 100%;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 10px;
            }
            .title {
                font-size: 20px;
            }
        };

        .consultation {
            .title {
                font-size: 20px;
                text-align: center;
            }
            &__descr {
                font-size: 15px;
                text-align: center;
            }
        }
            //.tns-item {
            //     img {
            //         height: 200px;
            //     }
            // }
        }
        .carousel {
            .slick-slide img {
                height: 300px;
            }
            .slick-dots {
                display: none;
            }
            .slick-prev {
                display: none;
            }
            .slick-next {
                display: none;
            }
            .button {
                display: none;
            }
        }
    
        .pageup img {
            width: 60%;
        }

        .button {
            &_submit {
                width: 210px;
            }
        }


    @media (max-width: 768px) {
        .container {
            // max-width: 720px;
            //width: 100%;
        }

        .carousel {
            .slick-dots {
                display: none;
            }

            .prev, .next {
                display: none;
                img {
                    width: 15px;
                    height: 15px;
                }
            }

            .slick-slide img {
                height: 200px;
                margin: 0 auto;
            }
        }

        .consultation {
            &__inner {
                // width: 400px;
            }
                padding-top: 50px;
                min-height: 300px;

            .feed-form {
                // width: 520px;
                align-items: center;
                justify-content: center;
            }
        }

        .catalog {
            &__tab {
                font-size: 10px;
                width: 100px;
            }
        }

        .advantages {
            &__wrapper {
                width: 100%;
                // flex-direction: column;
            }
            &__item {
                flex-direction: column;
                width: 100%;
            }
        }

        .container {
            // width: 100%;
            // flex-direction: column;
            
        }
        // &__wrapper {
        //     flex-direction: column;
        // }

        .review {
            &__item {
                flex-direction: column;
                text-align: center;
                align-items: center;
                margin-left: 0px;
            }
            &__img {
                width: 100px;
                height: 100px;
            }
            &__text {
                margin-left: 0px;
            }
        }

        .footer {
            &__info {
                width: 300px;
                height: 110px;
                padding: 10px 60px 60px 60px;
            }
            &__addr {
                font-size: 10px;
                margin-bottom: 2px;
            }
            &__phone {
                font-size: 12px;
                margin-bottom: 5px;
            }
            &__social-item {
                width: 25px;
                height: 25px;
                img {
                    height: 15px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .container {
            // max-width: 400px;
            // width: 100%;     
        }
        .promo {
            &__icons {
                width: 300px;
            }
            &__icon {
                font-size: 10px;
            }
            &__subheader {
                text-align: center;
            }
            &__wrapper {
                align-items: center;
            }
        }

        .header {
            line-height: 15px;
            .button {
                width: 77px;
                height: 17px;
                font-size: 7px;
            }
            &__phone {
                font-size: 8px;
            }
            &__official {
                font-size: 12px;
                span {
                    font-size: 9px;
                    display: inline;
                }
            }
        }
        .advantages {
            &__wrapper {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
            // width: 100%;
            // flex-direction: column;
            &__item {
                flex-direction: column;
                width: 100%;
                margin-top: 10px;
            }
        }

        .carousel {
            .container {
                // width: 300px;
            }
            &__inner {
                // position: relative;
                width: 290px;
                // margin: 0 auto;
                // img {
                //     width: 33%;
                // }
                
            }
            .prev, .next {
                display: none;
            }

            .slick-slide img {
                height: 150px;
            }

            

            // .slick-active {
            //     display: none;
            // }
            

        }
        .review {
            &__text {
                font-size: 10px;
                margin-top: 20px;
            }
        }
        .consultation {
            .feed-form {
                //width: 370px;
                //justify-content: center;
                align-items: center;
            
            input {
                height: 30px;
            }
            };
            
            .container {
                // width: 100%;
            }
        }

        .catalog {
            &__tab {
                font-size: 9px;
                width: 80px; 
            }
        }

    }