.advantages {
    
    background-color: white;
    padding: 70px 0 78px 0;
    justify-content: center;
    align-items: center;

    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    &__subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }

    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .title {
        text-align: center;
    }
    a {
        color: red;
    }

    &__icon {
        &_animated {
            
        }
    }
}